body{
    background-image: url("https://repository-images.githubusercontent.com/290230055/c9589a00-edd7-11ea-82cb-0c090e998e68")
    
}   
P{
    color:gold;
    font-family: 'Teko', sans-serif;
    font-size:45px;

}
.one{
    color:rgb(15, 245, 226);
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
    margin:25px;
    padding:25px;
}